/* .container { 
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
   grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
} */
.grid__wrapper {
	display: grid;
	grid-template-columns: 100px 1fr 1fr;
	grid-template-rows: 80px 1fr 80px;
	grid-template-areas: "header header header"
	"side main main"
	"footer footer footer";
}

.grid__main {
  padding: 10px;
	grid-area: main;
  background-color: rgb(147, 207, 127);
}